API/appsettings.json
API/appsettings.Development.json
API/Data/letspr.db*
API/Data/letspr.db
client/.gitignore

# Angular build output
dist/
.cache/
node_modules/


# IDE
.vscode/*
!.vscode/extensions.json

# SSL / certs
*.pem
ssl/
.gitignore
